.button {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 40px;
	border-radius: 3px;
	padding: 0;
	cursor: pointer;
	transition: background-color 0.3s ease, transform 0.3s ease;

	&:active {
		transform: translateY(4px);
	}

	&__text {
		transform: translateY(1px);
		line-height: 24px;
		font-family: $primaryFont;
		font-size: 14px;
		font-weight: 400;

		.button__submit & {
			color: $secondaryColor;
		}

		.button__link & {
			color: $primaryTextColor;
		}
	}
}
