$default-transition-duration: 0.4s;
$default-transition-function: ease-out;

//сделать камел кейс

$minWidth: 320px;
$tablet: 768px;
$desktop: 1200px;

$primaryFont: 'Roboto', sans-serif;

$primaryColor: #3366ff;
$secondaryColor: #fff;
$thirdColor: #ededf1;
$borderColor: #cfcfcf;
$primaryTextColor: #000;
$secondaryTextColor: #8c8c8c;
$placeholderColor: #8e90a6;
$labelTextColor: #555770;
$inActiveColor: #d5d5d5;
