.wrapper {
	display: flex;
	flex-flow: column nowrap;
	min-width: $minWidth;
	min-height: 100%;
}

.main-container {
	display: flex;
	flex-flow: row nowrap;
	align-items: stretch;
	width: 100%;
	flex: 1 1 auto;

	&__aside {
		display: none;

		@media (min-width: $desktop) {
			display: block;
			flex: 0 0 410px;
			width: 100%;
			padding: 81px 0px 0;
			border-left: 1px solid $borderColor;
		}
	}
}

main {
	display: flex;
	flex-flow: row nowrap;
	align-items: stretch;
	width: 100%;
	flex: 1 1 auto;
}
